In [1]:
import pandas as pd

In [2]:
path = "/Users/paulgrady/Documents/GitHub/IS-460/Python/Data Visualization Data Files/"

In [3]:
filename = "Baltimore911_Dec2020.csv"

In [7]:
df = pd.read_csv(path + filename,usecols = ['Location'], nrows = 5, skiprows = 0)

In [10]:
pd.set_option('display.max_colwidth', None)

In [11]:
df

                                                     Location
0     1200 W CROSS ST\nBALTIMORE, MD\n(39.281995, -76.631387)
1     2100 W PRATT ST\nBALTIMORE, MD\n(39.284965, -76.650033)
2           HOME DEPOT BALTIMORE, MD\n(39.499699, -76.641403)
3        5200 YORK RD\nBALTIMORE, MD\n(39.352315, -76.609786)
4  2500 N ELLAMONT ST\nBALTIMORE, MD\n(39.315441, -76.671322)

In [29]:
import numpy as np
df = pd.read_csv(path + filename,usecols = ['Location'], nrows = 300, skiprows = 0)
c = 0
for each in df['Location']:
    try:
        x = str(each).replace(")", "").split("(")[-1].split(",")
        df.loc[c, 'Lat'] = '%.6f' % float(x[0])
        df.loc[c, "Lon"] = '%.6f' % float(x[1])
        #print(df.loc[c, 'Lat'], '   ',df.loc[c, "Lon"] )
    except:
        df.loc[c, 'Lat'] = np.NaN
        df.loc[c, "Lon"] = np.NaN
    c+=1
df[['Lat', 'Lon']]

           Lat         Lon
0    39.281995  -76.631387
1    39.284965  -76.650033
2    39.499699  -76.641403
3    39.352315  -76.609786
4    39.315441  -76.671322
..         ...         ...
295  39.241552  -76.603559
296  39.285517  -76.595067
297  39.322762  -76.570441
298  39.323032  -76.543379
299  39.306349  -76.631026

[300 rows x 2 columns]